body {
    /* background-color: black; */
    text-align: center;
    background: url('../img/night_stars03.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2 {
    color: white;
}

.game-container {
    margin: 0 auto;
    border: 1px solid rgb(19, 191, 88);
}

.game-board .SKY {
    margin: auto;
    width: 45px;
    height: 45px;
}

.SKY img {
    width: 40px;
    transition: 1ms;
}
